@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import '../../src/scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 95%;
  height: 40rem;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;

  @media ($tablet) {
    width: 100rem;
    height: 60rem;
    overflow: hidden;
  }
}

.player {
  flex: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;

  @media ($tablet) {
    padding: 9rem;
  }
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;

  @media ($mobile-large) {
    font-size: 4rem;
  }
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 100%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;

  @media ($mobile-large) {
    width: 65%;
  }
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: -7rem;
  min-width: 190px;

  @media ($tablet) {
    top: 4rem;
  }
}
.btn--roll {
  bottom: -8rem;
  min-width: 190px;

  @media ($tablet) {
    bottom: initial;
    top: 39.3rem;
  }
}
.btn--hold {
  bottom: -15rem;
  min-width: 140px;


  @media ($tablet) {
    bottom: initial;
    top: 46.1rem;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.instructions {
    position: fixed;
    top: 0;
    right: -95%;
    height: 50%;
    width: 95%;
    background-color: rgba($light, .95);
    z-index: 9999999;
    padding: 50px 30px;
    border-bottom-left-radius: 50px;
    border-left: 5px solid $secondary;
    border-bottom: 5px solid $secondary;
    box-shadow: $shadow;
    transition: right .8s cubic-bezier(0.77, 0.2, 0.41, 0.98);

    @media ($tablet) {
        width: 450px;
        right: -450px;
    }

    &.instructions-open {
        right: 0;
    }

    h2 {
        font-size: 34px;
        color: $primary;
    }
    p {
        color: $dark;
        line-height: 1.7;
        margin-top: 30px;
        font-size: 20px;
    }
    .tab-hidden {
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
    }

    .close-instructions {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 8px;
        font-size: $small;
        background-color: $primary;
        color: $light;
        outline: none;
        border: 2px solid $secondary;
        border-radius: 5px;
    }

    .open-instructions {
        cursor: pointer;
        position: absolute;
        left: -40px;
        top: 70px;
        padding: 10px;
        font-size: $medium;
        background-color: $primary;
        color: $light;
        outline: none;
        border: 2px solid $light;
        font-weight: bold;
        transition: all .4s ease;
    }
}

.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  
  a {
    color: white;
  }
}