footer {
  color: $footer;
  background-color: $primary;
  text-align: center;
  // border-top: 2px solid $secondary;

  .container {
    padding: 10px 0;

    @media($desktop) {
      padding: 15px 0;
    }
  }

  .f-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }

  //prettier-ignore
  h5, p {
    margin: 10px 0;
  }
  p {
    font-size: $small-m;
    margin-top: 20px;
    
    @media ($laptop) {
      font-size: $small;
    }
  }
  h5 {
    font-size: $small-m;
    font-weight: bold;
    color: $secondary;
    margin-top: 0 0 20px 0;

    @media ($tablet) {
      font-size: $small;
    }
  }

  h6 {
    color: $light;
    font-size: $x-small-m;
    margin: 0;
    padding-bottom: 20px;

    @media ($tablet) {
      font-size: $x-small;
      margin: 20px 0;
    }
  }
  ul {
    list-style-type: none;
  }
  li {
    font-size: $small;
    padding: 5px 0;

    p {
      font-size: $small;
      margin: 0;
    }

    a {
      color: $light !important;

      &:hover {
        color: $secondary-shadow !important;
      }
    }
  }

  .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: $light;
    font-size: $small;
    margin-right: 20px;
    padding: 8px;
    border: 2px solid $light;
    border-radius: 50%;
    transition: all .3s ease;

    &:hover {
      background-color: $secondary-shadow;
      color: $primary-shadow;
      border-color: $light;
    }
  }
}
.f-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(25% - 50px);
  padding-left: 30px;
  
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.f-social-media-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.f-nav {
  display: flex;
  flex-direction: column;
}
