* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  background-color: $dark;
  z-index: 100;
}
body {
  color: $light;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  min-height: calc(100vh - 2 * 4vw);
}

//prettier-ignore
h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  margin: 15px 0;
}

//prettier-ignore
p, a, span, div, ul, ol, li, button {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

p {
  font-size: 1.3rem;
  margin: 10px 0;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

//prettier-ignore
a, a:visited, a:active, a:focus {
  text-decoration: none;
  color: $secondary;
  transition: color 0.2s ease;
  outline: 0;

  //prettier-ignore
  &:hover, &:focus, &:active {
    color: $primary;
  }
}
section {
  display: block;
  background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  -ms-background-position: center center;
}
.overlay {
  overflow: auto;
}

.container {
  width: 95%;
  margin: 0 auto;

  &:not(.header-container, .footer-container) {
    padding: 40px 0;
  }

  @media (min-width: 768px) {
    &:not(.header-container, .footer-container) {
      padding: 75px 0;
    }
  }

  @media (min-width: 1200px) {
    width: 85%;
  }
}

.btn {
  padding: 15px 35px;
  background-color: var(--light-green);
  box-shadow: 0 5px var(--light-green-shadow);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--dark-green);
    box-shadow: 0, 0 $transparent;
    transform: translateY(5px);
  }
}

// Loading Window

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
