// Colors
$transparent: rgba(255, 255, 255, 0);
$light: rgb(255, 255, 255);
$dark: rgb(14, 14, 16);
$light-gray: rgb(35, 35, 35);
$primary: rgb(26, 33, 17);
$secondary: rgb(88, 191, 29);
$tertiary: lighten($secondary, 8);
$highlight: complement($primary);