.c-team-section__member {
    margin-bottom: 15px;
    padding-left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    width: calc(25% - 28.75px);
    float: left;
    margin-left: 23px;
}

.c-team-section__member:first-child {
    margin-left: 0;
}

.c-team-grid__section--developer {
    display: inline-block;
    background-color: rgba(237,237,237,.3);
    width: 100%;
    padding: 15px;
    text-align: left;
}

.c-team-grid__img--developer {
    display: block;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 200px;
}

.c-team-section__member i {
    margin-right: 7px;
}
.c-team-member__email a {
    margin-left: 2px;
}