section {
    position: relative;
}
.overlay {
    background: white;
    border-bottom: 2px solid rgb(227, 227, 227, .8);
}
section:hover .overlay, section:hover .o-container {
    background: #f9f8f8;
}

.o-container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
    background-color: white;
}

@media (min-width: 768px) {
    .o-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .o-container {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    .o-container {
        width: 1000px;
    }
}

@media (min-width: 1400px) {
    .o-container {
        width: 1250px;
    }
}

.c-customsection__container {
    padding: 100px 30px;
    position: relative;
}

.o-grid__collapse {
    width: 100%
}

.controls {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 50px;
    transition: opacity .08s ease-in;
}

.controls button {
    border: 1px solid gray;
    background: white;
    transition: background .2s ease-in;
    cursor: pointer;
    padding: 0;
}
.controls button:hover {
    background: rgba(0, 0, 0, .3);
}
.controls i {
    font-size: 16px;
    padding: 6px;
}

section:hover .controls {
    pointer-events: initial;
    opacity: 1;
}


section:first-child .add-section{
    display: none;
}

.add-section {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: .3s all ease-in-out;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.add-section:hover {
    border-radius: 50px;
    width: 130px;
    background-color:#ff4c2d;
}
.add-section span {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.add-section--plus {
    position: absolute;
    left: 8px;
    top: 3px;
    transform: rotate(0);
    transition: all .3s ease-in;
}
.add-section:hover .add-section--plus {
    transform: rotate(-90deg);
    color: white;
}
.add-section--wording {
    font-size: 0 !important;
    transition: all .3s ease;
    opacity: 0;
    margin-left: 10px !important
}
.add-section:hover .add-section--wording {
    color: white;
    font-size: 15px !important;
    transition: all .3s ease;
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        font-size: 0 !important;
        display: none;
        opacity: 0;
        padding-left: 0;
    }

    100% {
        font-size: 15px !important;
        display: block;
        opacity: 1;
        padding-left: 5px;
    }
}

.main-banner-section .o-container {
    padding: 20px 0
}
.main-banner-section .controls {
    display: none !important;
}

.main-banner-section:hover .overlay, .main-banner-section:hover .o-container {
    background-color: white !important;
}