@import '../../../src/scss/variables';

.instructions {
    position: fixed;
    top: 30px;
    right: -95%;
    height: 50%;
    min-height: 500px;
    width: 95%;
    background-color: rgba(white, .95);
    z-index: 9999999;
    padding: 50px 30px;
    border-bottom-left-radius: 50px;
    border-left: 5px solid #ff4c2d;
    border-bottom: 5px solid #ff4c2d;
    box-shadow: $shadow;
    transition: right .8s cubic-bezier(0.77, 0.2, 0.41, 0.98);

    @media ($tablet) {
        width: 450px;
        right: -450px;
    }

    &.instructions-open {
        right: 0;
    }

    h2 {
        font-size: 28px;
        color: $primary;
    }
    p {
        color: $dark;
        line-height: 2;
        margin-top: 30px;
        font-size: 16px;
    }
    .tab-hidden {
        opacity: 0;
        pointer-events: none;
        transition: all .5s ease;
    }

    .close-instructions {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 6px 8px;
        font-size: $x-small;
        background-color: #ff4c2d;
        color: white;
        font-weight: bold;
        outline: none;
        border: 2px solid $dark;
    }

    .open-instructions {
        cursor: pointer;
        position: absolute;
        left: -40px;
        top: 70px;
        padding: 10px;
        font-size: $medium - .2rem;
        background-color: #ff4c2d;
        color: white;
        outline: none;
        border: 2px solid $dark;
        border-radius: 10px 0 0 10px !important;
        font-weight: bold;
        transition: all .4s ease;
    }
}
.forkify .instructions {
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
}