RewriteEngine on
RewriteBase /
RewriteCond %{https://www.willswebsitesdesign.com/} !(\.[^./]+)$
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{REQUEST_fileNAME} !-f
RewriteRule (.*) /$1.html [L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP
RewriteRule ^([^.]+)\.html$ https://wwww.willswebsitesdesign.com/$1 [R=301,L]