.projects {
  background: $light;
  z-index: -2;

  #project-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;

    @media ($mobile-large) and ($tablet-max) {
      justify-content: center;
    }
  }
}

.project-item {
  position: relative;
  width: 100%;
  margin-bottom: 140px;
  transition: all 0.8s ease;
  opacity: 0;
  transform: translateY(100px);

  @media ($mobile-large) {
    width: 80%;
  }

  @media ($tablet) {
    width: 50%;
  }

  @media ($laptop) {
    margin-bottom: 100px;
  }

  &.project-reveal {
    opacity: 1;
    transform: translateY(0);
  }

  .open-details {
    cursor: pointer;
    position: absolute;
    left: 5%;
    bottom: -45px;
    margin: 0;
    padding: 15px 35px;
    width: 60%;
    border-width: 2px;
    background-color: $primary;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 1px 3px 8px rgba($dark, 0.35);

    &:hover {
      transform: none;
      background-color: $tertiary;
    }

    @media ($mobile-large) {
      font-size: $small-m;
    }

    @media ($laptop) {
      display: none;
    }
  }

  .close-details {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 8px 13px;
    color: $primary;
    background-color: $light;
    border: 2px solid $tertiary;

    @media ($laptop) {
      display: none;
    }
  }

  img {
    width: 100%;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }

  &.project-item8 .company img,
  &.project-item9 .company img {
    filter: none !important;
  }

  &.reveal-details {
    .desktop-overlay,
    .mobile-overlay {
      opacity: 1;
      height: 100%;
      z-index: 20;
    }
    .desktop-info,
    .mobile-info {
      opacity: 1 !important;
    }

    .open-details {
      opacity: 0;
      pointer-events: none;
    }
    .desktop-info .btn {
      display: block !important;
    }
  }

  &:not(.reveal-details, :hover, :active) {
    .desktop-overlay,
    .mobile-overlay {
      pointer-events: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
    }
  }

  @media ($laptop) {
    &:hover,
    &:active {
      .project-desktop,
      .project-mobile {
        transform: scale(1.06);
      }

      .desktop-screen,
      .mobile-screen {
        box-shadow: -10px 8px 16px #6463637e;
      }

      .desktop-overlay,
      .mobile-overlay {
        opacity: 1;
        height: 100%;
        z-index: 20;
      }
      .desktop-info,
      .mobile-info {
        opacity: 1 !important;
        pointer-events: all;
      }
      .desktop-info .btn {
        display: block !important;
      }
    }
  }
}

.project-desktop {
  width: 90%;
  transition: all 0.4s ease;
}

.desktop-screen {
  position: relative;
  box-shadow: -10px 8px 16px #7070706b;
  overflow: hidden;
  min-height: 49vw;
  background-color: rgba($dark, 0.6);

  @media ($mobile-large) {
    min-height: 40vw;
  }

  @media ($tablet) {
    min-height: 25vw;
  }

  @media ($laptop) {
    min-height: 22vw;
  }

  @media ($desktop) {
    min-height: 20vw;
  }

  @media (min-width: 1550px) {
    min-height: 335px;
  }

  .screen-window {
    display: flex;
  }

  .desktop-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 0;
    padding: 20px;
    opacity: 0;
    color: $light;
    background-color: rgba($dark, 0.85);
    border: 1px solid rgba($light, 0.3);
    transition: height 0.3s ease, opacity 0.3s ease, color 0.3s ease,
      background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    z-index: -2;

    @media ($mobile-large-max) {
      padding: 10px;
    }

    .desktop-info {
      width: 70%;
      opacity: 0;
      transition: 0.2s all ease;
      transition-delay: 0.25s;

      @media (min-widht: 1400px) {
        widht: 80%;
      }

      .company {
        @media ($laptop-max) {
          display: none;
        }

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: $light;

          &:hover {
            color: $tertiary;
          }
        }

        img {
          height: 30px;
          width: auto;
          filter: brightness(0) invert(1);
          margin-right: 15px;

          @media ($laptop) {
            height: 40px;
          }
        }

        h3 {
          padding: 10px 0 10px 15px;
          margin: 0;
          border-left: 1px solid $light;
          font-family: $tertiary-font;
        }
      }

      .info-content {
        p {
          margin-top: 10px;
          font-size: $x-small-m !important;

          @media ($mobile-max) {
            font-size: $x-small-m - 0.2rem !important;
          }

          @media ($desktop) {
            font-size: 1rem !important;
          }

          @media (min-width: 1400px) {
            margin-top: 30px;
            font-size: $x-small !important;
          }
        }
        .info-btns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 20px;

          .btn {
            background-color: $primary;
            border-color: $secondary-highlight;
            font-size: $x-small-m;
            letter-spacing: 2px;
            margin: 0;
            border-width: 2px;
            padding: 7px 15px;
            display: none;

            &:first-child {
              margin-right: 10px;
            }

            &:hover {
              background-color: $tertiary;
            }
          }
        }
      }
    }
  }
}

.project-mobile {
  position: absolute;
  right: 0;
  top: 23%;
  width: 27%;
  transition: all 0.4s ease;

  @media ($tablet) {
    right: -15px !important;
    top: 30%;
    width: 23%;
  }
}
.mobile-screen {
  position: relative;
  padding: 3px;
  box-shadow: -10px 8px 16px #7c7c7c3d;
  background-color: $dark;
  border-radius: 20px;
  border: 1px solid rgba($light, 0.3);
  overflow: hidden;

  @media ($mobile-large) {
    padding: 4px;
  }

  @media ($mobile-max) {
    border-radius: 10px;
  }

  .mobile-space {
    padding: 2px 0 12px 0;
    background-color: #cdcccc;
    min-height: 50vw;
    border-radius: 15px;

    @media ($mobile-max) {
      border-radius: 5px;
    }

    @media ($mobile-large) {
      min-height: 37vw;
    }

    @media ($tablet) {
      min-height: 20vw;
    }

    @media ($desktop) {
      min-height: 18vw;
    }

    @media (min-width: 1550px) {
      min-height: 295px;
    }

    .utility {
      background-color: transparent;
      padding-left: 0;
      margin-bottom: 4px;
    }
  }

  .mobile-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    padding: 10px;
    opacity: 0;
    color: $light;
    background-color: rgba($dark, 0.85);
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
    transition-delay: 0.1s;

    @media ($mobile-max) {
      border-radius: 10px;
    }

    @media ($laptop) {
      padding: 20px;
    }

    .mobile-info {
      opacity: 0;
      transition: 0.4s all ease-in-out;
      transition-delay: 0.4s;
    }

    h4 {
      font-family: $tertiary-font;
      text-align: center;
      margin: 0 0 5px 0;
    }

    ul {
      margin-top: 10px;
      list-style-type: none;
    }
    li {
      font-weight: bold;
      padding: 5px 0;
      border-bottom: 1px solid rgba($light, 0.7);
      font-size: $x-small-m - 0.2rem;

      @media ($laptop) {
        font-size: $x-small-m;
        padding: 8px 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@media ($desktop) {
  .project-item:nth-child(even) .project-mobile {
    right: -50px !important;
  }
}

@media ($tablet) {
  .project-item:nth-child(even) .project-mobile {
    right: 0;
  }
  .project-item:nth-child(even) .project-desktop {
    margin-left: 10%;
  }
  .project-item:nth-child(odd) .project-mobile {
    right: 30px !important;
  }
  .project-item:nth-child(even) .open-details {
    left: 15%;
  }
}

.utility {
  display: flex;
  width: 100%;
  padding-left: 4px;
  background-color: $light;

  .dot {
    width: 5px;
    height: 5px;
    margin: 4px 2px;
    border-radius: 50%;
  }

  .close {
    background-color: rgba(217, 49, 49, 0.4);
  }
  .hide {
    background-color: rgba(255, 204, 0, 0.4);
  }
  .resize {
    background-color: rgba(20, 137, 20, 0.4);
  }
  .search {
    width: 80%;
    height: 7px;
    padding: 0 4px;
    margin: 3px 10% 0 auto;
    background-color: rgba($medium-gray, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    i {
      font-size: 4px;
      color: $dark;
      height: 7px;
      width: 7px;
      margin-right: 2px;
    }
    span {
      font-size: 5px;
      color: $dark;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      transform: translateY(-0.4px);
    }
  }
}
