.repository-contact {
  .overlay {
    overflow: hidden;

    @media ($tablet) {
      overflow: initial;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media ($tablet) {
      padding: 200px 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @media ($laptop) {
      justify-content: space-around;
    }

    @media ($desktop) {
      justify-content: space-between;
    }
  }

  .rc-left,
  .rc-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
    min-height: 400px;
    padding: 115px 5px;

    @media ($tablet) {
      max-width: initial;
      padding: 50px 0;
    }

    @media ($laptop) {
      padding: 50px 5%;
      max-width: 450px;
    }

    @media ($desktop) {
      min-height: 500px;
      padding: 50px 0%;
      max-width: initial;
    }

    @media (min-width: 1350px) {
      padding: 50px 8%;
    }

    h2 {
      font-size: $medium;
      text-align: center;
      line-height: 1.2;

      @media (min-width: 1300px) {
        font-size: $large;
      }
    }

    p {
      text-align: center;
      color: $light;
      margin-bottom: 50px;
      padding: 0 10px;

      @media ($tablet) {
        font-size: $x-small;
      }

      @media ($desktop) {
        font-size: $small;
        margin-bottom: 75px;
      }
    }
  }

  .rc-left {
    position: relative;
    width: 90%;

    @media ($tablet) {
      width: 48%;
      padding-left: 0;
    }

    @media ($tablet) and (max-width: 1299px) {
      h2,
      p {
        max-width: 400px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: -15%;
      height: 90%;
      width: 150%;
      max-height: 700px;
      max-width: 550px;
      background-color: rgba($secondary, 0.2);
      border-radius: 38% 62% 60% 40% / 44% 38% 62% 56%;
      z-index: -1;
      transform: scale(1.1) rotate(40deg);

      @media ($mobile-large) {
        left: 0;
        width: 100%;
        max-width: 700px;
      }

      @media ($tablet) {
        background-color: rgba($secondary, 0.15);
        transform: scale(1.4) rotate(40deg);
        top: 3%;
        left: 8%;
        height: 100%;
        width: 75%;
        max-height: 1000px;
        max-height: initial;
      }
    }
  }
  .rc-right {
    position: relative;
    width: 90%;

    &::before {
      content: "";
      position: absolute;
      top: 8%;
      left: -10%;
      height: 85%;
      width: 130%;
      max-height: 700px;
      background-color: rgba($tertiary, 0.4);
      border-radius: 38% 62% 60% 40% / 44% 38% 62% 56%;
      z-index: -1;
      transform: scale(1.1) rotate(190deg);

      @media ($mobile-large) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1) rotate(220deg);
      }

      @media ($tablet) {
        background-color: rgba($tertiary, 0.4);
        top: 0;
        left: 10%;
        height: 100%;
        width: 90%;
        max-height: 1000px;
        max-height: initial;
        transform: scale(1.2) rotate(220deg);
      }
    }

    @media ($tablet) {
      width: 48%;
      padding-right: 0;
    }
  }
}
