.repository-contact {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media ($tablet) {
        padding: 200px 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  }

  .rc-left,
  .rc-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    padding: 125px 10%;

    @media ($tablet) {
        max-width: initial;
        padding: 50px 5%;
    }
    

    @media ($desktop) {
        min-height: 500px;
    }
    

    @media (min-width: 1350px) {
        padding: 50px 8%;
    }

    h2 {
      font-size: $medium;
      text-align: center;

      @media ($desktop) {
        font-size: $large;
      }
    }

    p {
      text-align: center;
      color: $light;
      margin-bottom: 75px;
      padding: 0 10px;

      @media ($tablet) {
        font-size: $x-small;
      }

      @media ($desktop) {
        font-size: $small;
      }
    }
  }

  .rc-left {
    position: relative;
    width: 100%;

    @media ($tablet) {
      width: 50%;
      padding-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 10%;
      left: 0;
      height: 90%;
      width: 150%;
      max-height: 700px;
      max-width: 550px;
      background-color: rgba($secondary, 0.2);
      border-radius: 38% 62% 60% 40% / 44% 38% 62% 56%;
      z-index: -1;
      transform: scale(1.1) rotate(40deg);

      @media ($mobile-large) {
        width: 100%;
        max-width: 700px;
      }

      @media ($tablet) {
        background-color: rgba($secondary, 0.15);
        transform: scale(1.4) rotate(40deg);
        top: 5%;
        left: 2%;
        height: 100%;
        width: 70%;
        max-height: 1000px;
        max-height: initial;
      }
    }
  }
  .rc-right {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 5%;
      left: -2%;
      height: 90%;
      width: 130%;
      max-height: 700px;
      background-color: rgba($tertiary, 0.4);
      border-radius: 38% 62% 60% 40% / 44% 38% 62% 56%;
      z-index: -1;
      transform: scale(1.1) rotate(190deg);
      
      @media ($mobile-large) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1) rotate(220deg);
      }

      @media ($tablet) {
        background-color: rgba($tertiary, 0.4);
        top: 0;
        left: 10%;
        height: 100%;
        width: 90%;
        max-height: 1000px;
        max-height: initial;
        transform: scale(1.3) rotate(220deg);
      }
    }

    @media ($tablet) {
      width: 50%;
      padding-right: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      @media ($tablet) {
        flex-direction: row;
        align-items: center;
      }
    }

    input {
      margin: 10px;
      padding: 10px 20px 10px 0;
      background-color: transparent !important;
      outline: none;
      border: none;
      border-bottom: 2px solid $light;
      color: white;
      font-family: $tertiary-font;
      font-size: $x-small;
      width: 100%;

      @media ($tablet) {
        width: 50%;
      }

      @media ($laptop) {
        font-size: $small;
      }

      &::placeholder {
        color: white;
      }

      &:focus,
      &:active,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        background-color: transparent !important;
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff !important;
      }
    }

    textarea {
      padding: 10px 20px;
      background-color: transparent;
      outline: none;
      border: none;
      color: $light;
      width: 100%;
      max-width: 100%;
      font-size: $x-small;
      font-family: $tertiary-font;
      font-weight: bold;
      min-height: 100px;
      max-height: 250px;
      overflow: scroll;
      resize: vertical;
      scrollbar-color: $light;

      &::placeholder {
        color: white;
      }
    }
  }
}
