.digital-resume {
  background-color: $light;
  padding-bottom: 75px;

  .container {
    background-color: rgba($primary-highlight, 0.95);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    border-radius: 20px;
    box-shadow: 0px 5px 12px 4px rgba(28, 28, 28, 0.18);

    @media ($tablet) and ($height-min) {
      padding-bottom: 30px;
    }
  }

  .resume-intro {
    padding: 30px 0;
    background-color: $primary;
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid $light;

    .category-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      margin: 20px 0 0 0;
      list-style-type: none;

      @media ($tablet) {
        flex-wrap: nowrap;
      }

      li {
        text-align: center;
        color: $light;
        font-size: $x-small-m;
        width: 50%;

        @media (max-width: 460px) {
          width: 100%;
        }

        @media ($tablet) {
          font-size: $x-small;
          width: auto;
        }

        a {
          color: $light;
          padding: 20px 30px;

          @media ($tablet-max) {
            display: inline-block;
            width: calc(100% - 30px);
            max-width: 300px;
            margin: 5px;
            padding: 15px 15px;
            background-color: $primary-highlight;
            border-radius: 7px;
            border: 2px solid $light;
            transition: all 0.3s ease;
          }

          &:hover {
            color: $secondary;
          }

          &.link--active {
            background-color: $tertiary;
            color: $light;
          }
        }
      }
    }
  }

  h2 {
    text-align: center;
    margin: 0 auto;
    color: $light;
  }
}

#resume {
  display: flex;
  flex-direction: column;

  @media ($tablet) {
    flex-direction: row;
  }

  @media ($tablet) and ($height-max) {
    flex-direction: column;
  }

  .categories {
    background-color: rgba($primary, 0.1);
    position: relative;
    width: 100%;

    @media ($tablet) {
      width: calc(40% - 50px);
      padding-left: 0;
      border-bottom-left-radius: 30px;
    }

    @media ($laptop) {
      width: calc(40% - 60px);
    }

    @media ($desktop) {
      width: calc(40% - 80px);
    }

    @media ($tablet) and ($height-max) {
      width: 100%;
    }

    .categories-inner {
      @media ($tablet) and ($height-min) {
        position: sticky;
        top: 30vh;
        padding-top: 30px;
      }
    }
    .categories-list {
      position: relative;
      min-height: 150px;

      @media ($tablet) {
        min-height: 225px;
      }

      @media ($tablet) and ($height-min) {
        position: relative;
        height: 35vh;
      }
    }
    .category-item {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      overflow: hidden;
      padding: 20px 30px;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.2s;
      max-width: 100%;
      pointer-events: none;

      &.scroll--active,
      &.scroll--start {
        opacity: 1;
        pointer-events: all;

        h3 {
          color: $secondary-highlight;
        }
      }

      &.tab--active {
        opacity: 1;
        pointer-events: all;
      }

      &.work {
        h3 {
          transition: all 0.4s ease-in-out;

          @media ($tablet) and ($height-min) {
            margin-top: 35vh;
            justify-content: flex-start;
          }

          span::after {
            bottom: -6px;
          }
        }

        &.scroll--active,
        &.scroll--start {
          h3 {
            @media ($tablet) and ($height-min) {
              margin-top: 12vh;
            }

            @media (min-height: 1200px) and ($laptop-max) {
              margin-top: 17vh;
            }
          }
        }
      }

      &.education {
        background-image: url(../../img/meet-will/education.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @media ($desktop) {
          background-position: center 30%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($primary, 0.75);
          z-index: 0;
        }
      }

      &.skills {
        h3 span::after {
          bottom: -5px;
          max-width: 238px;

          @media (min-width: 414px) {
            max-width: 334px;
          }

          @media ($laptop) {
            max-width: 280px;
          }

          @media ($desktop) {
            max-width: 310px;
          }
        }
      }

      &.personal {
        background-image: url(../../img/meet-will/hobbies.jpg);
        background-position: center 30%;
        background-size: cover;
        background-repeat: no-repeat;

        @media ($tablet) {
          background-position: center center;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($primary, 0.65);
          z-index: 0;
        }
      }

      h3 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        font-family: $secondary-font;
        font-size: $small;
        z-index: 1;

        @media ($tablet) and ($height-min) {
          height: 100%;
          min-height: 315px;
        }

        @media ($laptop) {
          font-size: $medium - 0.2rem;
        }

        @media ($desktop) {
          font-size: $medium;
        }

        span {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            transform: translateX(-50%);
            background-color: rgba($light, 0.7);
          }
        }
      }
    }
  }

  .resume-content {
    position: relative;
    box-shadow: $shadow;
    overflow: hidden;

    @media ($tablet-max) {
      border-radius: 20px;
    }

    @media ($tablet) and ($height-min) {
      width: calc(60% + 50px);
      padding-left: 50px;
      padding-top: 10vh;
    }

    @media ($laptop) {
      width: calc(60% + 60px);
      padding-left: 60px;
    }

    @media ($desktop) {
      width: calc(60% + 80px);
      padding-left: 80px;
    }

    @media ($laptop) and ($height-max) {
      width: 100%;
    }

    .resume-item {
      position: relative;
      display: none;
      flex-direction: column;
      justify-content: center;
      padding: 45px 30px;
      transition: all 0.3s ease;

      @media ($tablet) and ($height-min) {
        display: flex;
        min-height: 50vh;
        padding-left: 0;
        padding-top: 15vh;
        padding-bottom: 15vh;
        padding-right: 40px;
        opacity: 0.35;
      }

      @media ($laptop) and ($height-min) {
        padding-right: 50px;
      }

      &.scroll--active,
      &.scroll--start {
        opacity: 1;

        h4 {
          color: $secondary-highlight;
        }
      }

      &.scroll--active::after {
        opacity: 0.8;
        transform: translate(0, -50%);
      }

      &.tab--active,
      &.scroll--start {
        display: flex;
      }

      &.work {
        @media ($tablet) and ($height-min) {
          padding-top: 0;
          padding-bottom: 10vh;
        }

        &::after {
          top: 35%;
        }

        .details {
          margin-bottom: 20px;

          @media ($desktop) {
            margin-bottom: 20px;
          }
        }
        .complete {
          .blob-btn {
            margin-top: 20px;
            margin-bottom: 0;
            color: $light;
            font-size: $x-small-m;
            padding: 15px 25px;

            &::before {
              border-color: $light;
            }
          }

          svg {
            display: none;
          }
        }

        .company {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px 0;
          padding: 10px 0 5px 0;
          border-top: 2px solid rgba($light, 0.5);
          border-bottom: 2px solid rgba($light, 0.5);

          @media ($mobile-large) {
            flex-direction: row;
            margin: 0;
            padding: 0;
            border-top: none;
            border-bottom: none;
          }

          p {
            margin-top: 5px;
            margin-right: 4px;
          }
        }
      }

      &.education {
        @media ($tablet) and ($laptop-max) {
          ul li {
            &:first-child {
              width: 60%;
            }
            &:last-child {
              width: 40%;
            }
          }
        }
      }

      &.skills {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        @media ($tablet) and ($laptop-max) and ($height-min) {
          padding-right: 20px;
        }

        .skill-area {
          width: 100%;
          margin-bottom: 30px;

          @media ($mobile-large) {
            &.libraries,
            &.other {
              margin-bottom: 0;
            }

            &:nth-child(odd) {
              width: calc(60%);
            }

            &:nth-child(even) {
              width: calc(40% - 10px);
            }
          }

          &:nth-child(even) {
            @media ($mobile-large) and ($laptop-max) {
              width: calc(40% - 20px);
              margin-right: 20px;
            }
          }

          &.languages {
            @media ($laptop) {
              padding-right: 10px;
            }

            @media ($tablet) and ($laptop-max) {
              margin-right: 10px;

              ul {
                flex-flow: row wrap;

                li {
                  padding: 5px 25px 5px 0;

                  &:nth-child(even) {
                    margin-left: 5px;
                    width: calc(50% - 5px);
                  }
                }
              }
            }

            @media ($tablet) and ($desktop-max) {
              width: calc(50% - 10px);
            }
          }

          &.media {
            @media ($tablet) and ($laptop-max) {
              width: 50%;

              ul {
                flex-flow: row wrap;

                li {
                  padding: 5px 25px 5px 0;

                  &:nth-child(even) {
                    margin-left: 5px;
                    width: calc(50% - 5px);
                  }
                }
              }
            }

            @media ($tablet) and ($desktop-max) {
              width: 50%;
            }
          }

          &.libraries {
            @media ($tablet) {
              max-width: 300px;
            }

            @media ($tablet) and ($laptop-max) {
              ul {
                flex-direction: column;
              }
            }
          }

          &.other {
            max-width: 450px;

            @media ($mobile-large-max) {
              ul {
                flex-direction: column;

                li {
                  width: 100%;
                }
              }
            }
          }

          ul {
            @media ($mobile) and ($mobile-large-max) {
              flex-direction: row;

              li {
                width: 50%;
              }
            }
          }
        }
      }

      &.personal {
        @media ($tablet) {
          min-height: 45vh;
          padding-bottom: 5vh;
        }

        &::after {
          top: 60%;
        }

        .hobbies {
          list-style-type: none;
          padding-left: 0;
          padding-top: 10px;
          width: 95%;

          @media ($mobile-large-max) {
            flex-direction: row;
            flex-wrap: wrap;
          }

          @media ($tablet) and ($laptop-max) {
            width: 90%;
          }

          img {
            width: auto;
            height: 100%;
            max-height: 30px;
            filter: brightness(0) invert(1);

            @media ($mobile-large-max) {
              margin-right: 10px;
              max-height: 25px;
            }
          }

          li {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;

            @media ($mobile) {
              width: 50%;
            }

            @media ($mobile-large) {
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              width: 25%;
            }

            &:nth-child(even) {
              padding-right: 30px !important;
            }
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: -50px;
        top: 50%;
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-bottom: 13px solid transparent;
        border-left: 13px solid $light;
        transform: translate(-20px, -50%);
        filter: drop-shadow(1px 3px 2px rgba($dark, 0.7));
        opacity: 0;
        transition-delay: 0.02s;
        transition: all 0.4s ease-in-out;

        @media ($laptop) {
          left: -60px;
        }

        @media ($desktop) {
          left: -80px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: square;
        width: 100%;
        padding-left: 15px;

        @media ($mobile-large) {
          flex-direction: row;
        }

        li {
          width: 100%;
          margin: 5px 0;
          padding: 5px;
          color: $light;

          @media ($mobile-large) {
            width: 50%;
            padding: 5px 30px 5px 5px;
          }

          @media ($tablet) and ($laptop-max) {
            &.completed-websites {
              order: 1;
            }
            &.improved-process {
              order: 2;
            }
            &.team-members {
              order: 3;
            }
            &.ceo-award {
              order: 5;
              padding-right: 20px !important;
            }
            &.coding-bootcamp {
              order: 4;
              padding-right: 0 !important;
            }
            &.promoted {
              order: 6;
            }
          }

          &:nth-child(even) {
            padding-right: 0;
          }
        }
      }

      h4 {
        font-family: $tertiary-font;
        font-size: $small;
        margin: 0;

        @media ($mobile-large) {
          br {
            display: none;
          }
        }

        .white-line {
          color: $light;
          margin: 0;

          @media ($mobile-large) {
            margin: 0 10px;
          }
        }
      }

      p {
        color: $light;
        font-size: $x-small;
      }
    }

    .jump-item {
      position: absolute;
      left: 50%;
      top: 50%;

      &#personal {
        top: 70%;
      }
    }
  }
}
