.digital-resume {
    background-color: $light;
    padding-bottom: 75px;

    .container {
        background-color: $primary;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0px 5px 12px 6px #1c1c1c38;
        border: 3px solid $secondary
      }

      .resume-intro {
        padding: 30px 0;
        background-color: $primary-highlight;
        width: 100%;
        border-radius: 30px 30px 0 0;
        border-bottom: 2px solid $tertiary;
      }

      h2 {
        text-align: center;
        margin: 0 auto;
        color: $light;
      }
}

#resume {
  display: flex;

  .categories {
    position: relative;
    width: 40%;
    padding-right: 80px;
    padding-left: 0;

    .categories-inner {
      position: sticky;
      top: 30vh;
      padding-top: 30px;
    }
    .categories-list {
      position: relative;
      height: 35vh;
    }
    .category-item {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      overflow: hidden;
      padding: 20px 30px;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.2s;
      max-width: 100%;

      &.scroll--active, &.scroll--start {
        opacity: 1;
      }

      &.work {
        h3 {
          justify-content: flex-start;
          margin-top: 35vh;
          transition: all .4s ease-in-out;
        }

        &.scroll--active, &.scroll--start {
            h3 {
                margin-top: 12vh; 
            }
        }
      }

      &.education {
        background-image: url(../../img/education.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @media ($desktop) {
          background-position: center 30%;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($primary, .65);
          z-index: 0;
        }
      }

      h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        font-family: $secondary-font;
        font-size: $medium;
        z-index: 1;
      }
    }
  }

  .resume-content {
    position: relative;
    width: 60%;

    .resume-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 50vh;
      padding-top: 15vh;
      padding-bottom: 15vh;
      padding-right: 50px;
      opacity: .35;
      transition: all .3s ease;

      &.scroll--active, &.scroll--start {
        opacity: 1;
      }

      &.work {
        border-top: 0;
        padding-top: 10vh;
        padding-bottom: 10vh;

        .details {
          margin-bottom: 30px;
        }
        .complete {

          .blob-btn {
            margin-top: 20px;
            margin-bottom: 0;
            color: $light;
            font-size: $x-small-m;
            padding: 15px 25px;

            &::before {
              border-color: $light;
            }
          }

          svg {
            display: none;
          }
        }
        
        .company {
          display: flex;
          justify-content: space-between;

          p {
            margin-top: 5px;
          }
        }
      }

      &.personal {
        border-bottom: 0;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: square;
        width: 100%;
        max-height: 250px;
        padding-left: 15px;

        li {
          width: 50%;
          margin: 5px 0;
          color: $light;
          padding: 5px 30px 5px 5px;

          &:nth-child(even) {
            padding-right: 0
          }
        }
      }

      h4 {
        font-family: $tertiary-font;
        font-size: $small;
        margin: 0;
      }

      p {
        color: $light;
        font-size: $x-small;
      }
    }
  }
}
