.scroll-section {
    position: relative;
    background-color: rgba($primary-highlight, .7);
    z-index: 0;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     width: 50%;
    //     height: 100%;
    //     background-color: $primary;
    //     z-index: -1;
    // }

    &.scroll-intro .sticky-left {
        filter: brightness(.9);
        background-image: url(../../img/meet-will.jpg);
    }

    .container {
        position: relative;
        height: calc(100vh - 250px);
        min-height: 600px;
        border-left: 2px solid $tertiary;
        border-right: 2px solid $tertiary;
        // max-width: initial;
        // width: 80%;
        transition: all .3s ease;
    }

    .sticky-left {
        position:  absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($primary, .95);
            transition: all .4s ease-in-out;
            z-index: 0;
        }

        .sticky-content {
            position: sticky;
            height: auto;
            width: 100%;
            top: 50%;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            margin-right: auto;
            color: $primary;
            transition: all .2s ease;
            z-index: 1;

            a {
                color: rgba($light, 0);
            }

            h2 {
                line-height: 1.15;
                margin: 10px 0;
            }
            h3 {
                margin-top: 10px;
            }
        }
    }
    .scrollable-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: $primary;
        color: $light;
        transition: all .3s ease;
    }

    .scrollable-inner {
        opacity: 0;
        transition: .3s ease;
    }


    &.scroll--active {
        .container {
            border-left-color: $light;
            border-right-color: $light;
        }
        .sticky-left, .scrollable-right p {
            opacity: 1;
            z-index: 1;
        }

        .sticky-left {
            a {
                color: white;
            }
            &::after {
                background-color: rgba($primary, .65);
            }
        }
        .scrollable-inner {
            opacity: 1;
        }
        .scrollable-right {
            background-color: rgba($secondary, .6);

            p {
                color: white;
            }
        }
    }

    .center-anchor {
        position: absolute;
        transform: translateY(-50vh);
    }
}