body:not(.page-thanks) .subpage-banner {
  background: rgba($light, 1);
  text-align: left;
  

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 75px 0;
  }

  h1 {
    width: auto;
    position: relative;
    color: $primary;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 4px;
      width: 0;
      height: 3px;
      border-radius: 5px;
      background-color: $tertiary;

      animation: titleAccentAnimation ease 1s;
      animation-delay: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      @media ($tablet) {
        height: 4px;
      }

      @media ($desktop) {
        height: 5px;
      }
    }

    @media ($tablet-max) {
      margin-bottom: 40px;
    }
  }
}

.page-thanks {
  text-align: center;
}
