@import "../_main.scss";
@import "subpages";
header {
  position: relative !important;
  top: 0 !important;
  left: 0;
}
body {
  overflow-x: hidden;
}

main {
  padding-top: 0 !important;
  
  .subpage-banner {
    border-bottom: 2px solid $light;

    @media ($laptop) {
      .container {
        padding-top: 25px !important;
        padding-bottom: 0 !important;
      }
    }
  }
}
a[href*="thanks"] {
  display: none;
}

.blob-btn__blob {
  width: 30%;
}
svg {
  display: none;
}
