@import "../_main.scss";
@import "subpages";
header {
  @media ($laptop) {
    position: relative !important;
    top: 0 !important;
    left: 0;
  }
}
body {
  overflow-x: hidden;
}

main {
  @media ($laptop) {
    padding-top: 0 !important;
  }

  .subpage-banner {
    border-bottom: 2px solid $light;

    .container {
      padding-top: 25px !important;
      padding-bottom: 0 !important;
    }
  }
}
a[href*="thanks"] {
  display: none;
}

.blob-btn__blob {
  width: 30%;
}
svg {
  display: none;
}
