@import "../_main.scss";
@import "subpages";
@import "resume";

.will-intro {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .will-left {
        width: 40%;

        h2 {
            line-height: 1.2;
        }
    }

    .will-right {
        width: 60%;
    }
}