@import "../_main.scss";
@import "subpages";
@import "project-intro";
@import "projects";
@import "training-projects";
@import "training-modal";
@import "grid-items";
@import "training-intro";
@import "_repository-contact";

.subpage-banner .container {
  display: flex;
  justify-content: space-between !important;
  align-items: center;

  @media ($mobile-large-max) {
    flex-direction: column;

    .btn {
      max-width: 275px;
    }
  }
}

.project-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    color: $primary;
    font-size: $x-small;
    padding: 25px;
    height: 125px;
    width: 150px;
    border-width: 5px;
    opacity: 0.85;
    transition: all .3s ease;

    @media ($mobile-large) {
      height: 150px;
      width: 170px;
    }

    &:first-child {
      border-radius: 68% 32% 55% 45% / 48% 51% 49% 52% ;
      border-radius: 64% 36% 46% 54% / 55% 54% 46% 45%;


      @media ($laptop) {
        margin-right: 70px;
      }
    }

    &:last-child {
      border-radius: 58% 42% 31% 69% / 56% 43% 57% 44%;
    }

    &:hover {
      transform: scale(1.07);
      background-color: $tertiary;
      color: $light;
      border-width: 3px;
      opacity: 1;
    }
  }

  @media ($laptop-max) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .btn {
      width: 90%;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

.project-start {
  background-color: $light;
  text-align: center;

  .container {
    padding-top: 75px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    small {
      color: $dark;

      &.hover-directions {
        @media ($laptop-max) {
          display: none;
        }
      }

      &.tap-directions {
        @media ($laptop) {
          display: none;
        }
      }
    }
    a {
      min-height: 60px;
    }
    img {
      margin: 20px auto 0 auto;
      width: 100%;
      max-width: 30px;
      height: auto;
      transition: all 0.3s ease;

      &:hover,
      &:active {
        max-width: 40px;
        filter: drop-shadow(2px 2px 3px rgba($dark, 0.4));
      }
    }
  }
}
