@import "../_main.scss";
@import "subpages";

body {
    min-height: 100vh;
}
header {
    top: 0;
    position: sticky;
}
.subpage-banner {
    position: relative;
    height: 70vh;
    min-height: 700px;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($primary, .65);
        height: 100%;
        width: 100%;
        z-index: 0;

        @media ($tablet) {
            background-color: rgba($primary, .8);
        }
    }

    h1 {
        font-size: $x-small;
        padding: 20px;

        @media ($mobile-large) {
            font-size: $small;
        }
        
        @media ($tablet) {
            font-size: $large;
        }
    }
    p {
        color: $light;
    }

    svg {
        display: none;
    }

    .blob-btn {
        display: inline-block;
        margin-top: 75px;
    }
}