footer {
  color: $footer;
  background-color: $primary-highlight;
  text-align: center;
  border-top: 2px solid $light;

  .container {
    padding: 10px 0;

    @media ($desktop) {
      padding: 15px 0;
    }
  }

  .f-inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;

    @media ($mobile-large) {
      justify-content: space-between;
    }
  }

  //prettier-ignore
  h5, p {
    margin: 10px 0;
  }
  p {
    font-size: $small-m;
    margin-top: 20px;

    @media ($laptop) {
      font-size: $small;
    }
  }
  h5 {
    font-size: $medium-m;
    font-weight: bold;
    color: $secondary;
    margin-top: 0 0 20px 0;

    @media ($tablet) {
      font-size: $small;
    }
  }

  h6 {
    color: $light;
    font-size: $x-small-m;
    margin: 0;
    padding-bottom: 20px;

    @media ($tablet) {
      font-size: $x-small;
      margin: 20px 0;
    }
  }
  ul {
    list-style-type: none;

    &.f-nav-list {
      @media ($mobile) and ($mobile-large-max) {
        display: flex;
      }
    }
  }
  li {
    font-size: $x-small;
    padding: 5px 0;

    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: $x-small;
      margin: 0;
    }

    a {
      color: $light !important;

      &:hover {
        color: $secondary-shadow !important;
      }
    }

    &.f-nav-item {
      @media ($mobile) and ($mobile-large-max) {
        padding: 5px 10px;
        min-width: 80px;

        &:not(:last-child) {
          border-right: 1px solid $secondary;
        }
      }
    }
  }

  form {
    max-width: 350px;

    @media ($mobile-large) {
      align-items: flex-start;
    }

    .form-info {
      @media ($tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    input {
      font-size: $x-small;
      padding: 15px 0 5px 0;
      margin: 0 0 5px 0;
      width: 100%;
      border-bottom: 1px solid #e4e4e4;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -khtml-border-radius: 0;
      border-radius: 0 !important;

      @media ($mobile-large) {
        padding: 10px 0 7px 0;
      }

      @media ($laptop) {
        padding: 5px 0 2px 0;
      }

      &::placeholder {
        font-family: $primary-font;
        font-size: $x-small;
      }
    }

    textarea {
      padding-top: 10px;
      padding-left: 2px;
      min-height: 50px;
      height: 50px;
      max-height: 150px;

      @media ($laptop) {
        padding-top: 5px;
      }

      &::placeholder {
        font-family: $primary-font;
        font-size: $x-small;
      }
    }

    .blob-btn {
      padding: 10px 20px;
      margin-top: 10px;
      font-size: $x-small-m;
      min-width: 125px;
      margin-bottom: 10px;
      border-radius: 10px;

      &::before, &::after, &__inner {
        border-radius: 10px;
      }
    }
  }

  .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: $light;
    font-size: $x-small;
    padding: 8px;
    border: 2px solid $light;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      background-color: $secondary;
      color: $tertiary;
      border-color: $light;
    }
  }
}
.f-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px auto;

  .f-main-logo {
    padding-top: 12px;
  }

  address i {
    margin-right: 10px;
  }

  @media ($mobile-large) {
    align-items: center;
    width: calc(50% - 50px);
    margin: 20px 25px;
  }

  @media ($laptop) {
    width: calc(25% - 50px);
    margin: 0 25px;
    align-items: flex-start;
    text-align: left;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      width: auto;
    }
  }

  @media ($desktop) {
    width: calc(23% - 50px);
    margin: 0 25px;
  }

  @media ($mobile-large) and ($laptop-max) {
    &.f-company {
      order: 3;
    }

    &.f-social-media {
      order: 4;
    }
  }
}

.f-social-media-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .instagram {
    margin: 0 10px;
  }
}
.f-nav {
  display: flex;
  flex-direction: column;
}

@media ($mobile-large-max) {
  .copyright {
    display: none;
  }
}

.copyright-mobile {
  text-align: center;
}

@media ($mobile-large) {
  .copyright-mobile {
    display: none;
  }
}
