.contact-form {
  background-color: $light;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-color: $primary-highlight;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: $shadow;
  z-index: 1;

  @media ($tablet) {
    width: 100%;
  }

  .form-upper {
    width: 100%;
    padding: 0 30px;
    background-color: $primary;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid $light;
    text-align: center;

    @media ($tablet) {
      padding: 10px 30px;
    }

    h2 {
      color: $light;
    }
  }

  .form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @media ($tablet) {
      width: 40%;
      justify-content: flex-start;
    }

    @media ($desktop) {
      width: 35%;
    }
  }

  .form-container {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    padding: 20px 30px 20px 30px;
    background-color: #2a434c;
    box-shadow: 0 2px 6px rgba($dark, 0.1);

    @media ($tablet) {
      display: flex;
      max-width: initial;
      padding: 30px 50px 75px 50px;
    }
  }

  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: transparent !important;
    outline: none;
    border: none;
    border-bottom: 2px solid $light;
    color: white;
    font-family: $tertiary-font;
    font-size: $x-small;

    @media ($tablet) {
      width: calc(100% - 30px);
      margin: 10px 30px 10px 10px;
      padding: 10px 20px 10px 0;
    }

    @media ($laptop) {
      font-size: $small;
    }

    @media ($desktop) {
      margin: 10px 50px 10px 10px;
      width: calc(100% - 50px);
    }

    &::placeholder {
      color: white;
      font-family: $tertiary-font;
    }

    &:focus,
    &:active,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: transparent !important;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
    }
  }
  .blob-btn {
    margin-bottom: 20px;
    max-width: 300px;

    @media ($tablet) {
      margin-bottom: 30px;
    }

    @media ($laptop) {
      padding: 15px 25px;
    }
  }

  textarea {
    padding: 10px 20px 10px 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: $light;
    width: 100%;
    max-width: 100%;
    font-size: $x-small;
    font-family: $tertiary-font;
    min-height: 75px;
    max-height: 250px;
    overflow: visible;
    resize: vertical;
    scrollbar-color: $light;

    @media ($tablet) {
      width: 60%;
      max-width: initial;
      min-height: 100px;
      padding: 20px;
      font-size: $small;
    }

    @media ($desktop) {
      width: 65%;
    }

    &::placeholder {
      color: white;
      font-family: $tertiary-font;
    }
  }
}
