// Fonts
$primary-font: 'Libre Franklin', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
$tertiary-font: 'Rajdhani', sans-serif;



// Colors
$light: rgb(228, 228, 228);
$dark: #1c1c1c;
$medium-gray: rgb(63, 63, 63);
$primary: #122633;
$primary-shadow: darken($primary, 12);
$primary-highlight: rgb(37, 62, 71);
$secondary: #779f95;
$secondary-shadow: darken($secondary, 12);
$secondary-highlight: lighten($secondary, 12);
$tertiary: #6d473e;

$link: $secondary;
$link-hover: $secondary-shadow;

$footer: $light;
$footer-primary: $secondary;

$shadow: 0px 8px 16px 0px rgba($dark, .15);

// Font sizes desktop
$x-small: 1.1rem;
$small: 1.6rem;
$medium: 2.1rem;
$large: 3.0rem;
$x-large: 5rem;

// Font sizes mobile
$x-small-m: 0.8rem;
$small-m: 1rem;
$medium-m: 1.6rem;
$large-m: 2.2rem;
$x-large-m: 3.5rem;

// Breakpoint min-width's
$mobile: "min-width: 368px";
$mobile-large: "min-width: 568px";
$tablet: "min-width: 768px";
$laptop: "min-width: 992px";
$desktop: "min-width: 1200px";
$desktop-large: "min-width: 2000px";

// Breakpoint max-width's
$mobile-max: "max-width: 367px";
$mobile-large-max: "max-width: 567px";
$tablet-max: "max-width: 767px";
$laptop-max: "max-width: 991px";
$desktop-max: "max-width: 1199px";
$desktop-large-max: "max-width: 1999px";

// Container width's
$container-m: 95%;
$container: 85%;
$container-max: 1400px;

// Buttons
$btn: $secondary;
$btn-hover: $tertiary;
$btn-color: $primary;
$btn-color-hover: $light;
$btn-size: $small - .2rem;
$btn-border: 2px solid $light;
$btn-radius: 10px;